<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>联系我们</title>
    <link href="/static/css/bootstrap.css" rel='stylesheet' type='text/css'/>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/static/js/jquery.min.js"></script>
    <!-- Custom Theme files -->
    <link href="/static/css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="/static/css/demo1.css" rel="stylesheet" type="text/css" media="all"/>
    <!-- Custom Theme files -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);
    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!--webfont-->
    <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,200,300,700' rel='stylesheet'
          type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic'
          rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic' rel='stylesheet'
          type='text/css'>
    <!-- JavaScript includes -->
    <script src="/static/js/ipresenter.packed.js"></script>
    <script src="/static/js/popTip.js"></script>
    <script>
        $(document).ready(function () {
            $('#ipresenter').iPresenter({
                timerPadding: -1,
                controlNav: true,
                controlNavThumbs: true,
                controlNavNextPrev: false
            });
        });
    </script>
    <script type="text/javascript" src="/static/js/move-top.js"></script>
    <script type="text/javascript" src="/static/js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({scrollTop: $(this.hash).offset().top}, 1200);
            });
        });
        {% if data %}
            alert("{{ data }}");
{#            popTip("123123123", 1200);#}
        {% endif %}
    </script>
</head>
<body>
<div class="pop-tip">
    <p>123123</p>
</div>
<!-- header-section-starts -->
<!-- <div class="user-desc">
    <div class="container">
        <ul>
            <li><a href="checkout.html">Checkout</a></li>
            <li><i class="user"></i><a href="account.html">My Account</a></li>
            <li><i class="cart"></i><a href="#">Cart (3)</a></li>
        </ul>
    </div>
    </div> -->
<div class="header">
    {% include 'header-top.html' %}
</div>
<!-- header-section-ends -->
<!-- content-section-starts -->
<div class="container">
    <div class="main">
        <div class="contact">
            <div class="contact-form">
                <h2>留言：</h2>

                <form method="post" action="">
                    <div>
                        <span><label>姓名</label></span>
                        <span><input name="name" type="text" class="textbox"></span>
                    </div>
                    <div>
                        <span><label>E-mail</label></span>
                        <span><input name="email" type="text" class="textbox"></span>
                    </div>
                    <div>
                        <span><label>电话</label></span>
                        <span><input name="mobile" type="text" class="textbox"></span>
                    </div>
                    <div>
                        <span><label>备注</label></span>
                        <span><textarea name="subject"> </textarea></span>
                    </div>
                    <div>
                        <span><input type="submit" class="" value="提交"></span>
                    </div>
                </form>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- content-section-ends -->
{% include 'link-us.html' %}
{% include 'footer.html' %}
</body>
</html>