<div class="content-section">
        <div class="container">
            <div class="col-md-3 about-us">
                <h4>关于我们</h4>

                <p><span>　　河北亿森文化传播有限公司（Hebei yesun Culture Communication Co. Ltd.）</span> ，专注于安全教育宣传的研究和开发，以“宣传挂图、图书、音像制品”为核心产品，形成了针对政府、企业、学校、医院、社区等不同行业、不同规模、不同应用的三大系列产品和针对性解决方案，是国内很有影响力的宣教产品提供商。</p>
                <!-- <h4>FOLLOW US</h4>

                <div class="social-icons">
                    <i class="facebook"></i>
                    <i class="twitter"></i>
                    <i class="rss"></i>
                    <i class="vimeo"></i>
                    <i class="dribble"></i>
                    <i class="msn"></i>
                </div> -->
            </div>
            <div style="width:50%;" class="col-md-3 archives">
                <h4>河北亿森文化传播有限公司</h4>
                <ul style="margin-left: 80px;">
                    <li><i class="message"></i><a href="#">地址：河北省定州市</a></li>                  
                    <li><img src="/static/images/yx.png" /></i><a href="mail-to:188596579@qq.com"> 邮箱：188596579@qq.com</a></li>      
                    <li><i class="smart-phone"></i> 电话：+8613833010623</li>
                    <li><img src="/static/images/lxr.png" /></i>联系人：刘洁</li>
                </ul>
            </div>
            <!-- <div style="width:20%;" class="col-md-3 contact-us">
                <h4>联系我们</h4>
                <ul>
                    <li><i class="message"></i></li>
                    <li><a href="mail-to:188596579@qq.com">188596579@qq.com</a></li>
                </ul>
                <ul>
                    <li><i class="land-phone"></i></li>
                    <li>800 756 156</li>
                </ul>
                <ul>
                    <li><i class="smart-phone"></i></li>
                    <li>+8613833010623</li>
                </ul>
            </div> -->
            <!-- <div class="col-md-3 about-us">
                <h4>SIGN TO NEWSLETTER</h4>
                <input type="text" class="text" value="Name" onfocus="this.value = '';"
                       onblur="if (this.value == '') {this.value = 'Name';}">
                <input type="text" class="text" value="Email" onfocus="this.value = '';"
                       onblur="if (this.value == '') {this.value = 'Email';}">
                <input type="submit" value="subscribe">
            </div> -->
            <div class="clearfix"></div>
        </div>
    </div>